In [2]:
import pandas as pd
from scipy.stats import zscore
import numpy as np

# combining all datasets from NBA Data
raw_reg_season_data = pd.concat([pd.read_csv("NBA-Data-2010-2024/regular_season_box_scores_2010_2024_part_1.csv"), pd.read_csv("NBA-Data-2010-2024/regular_season_box_scores_2010_2024_part_2.csv"), pd.read_csv("NBA-Data-2010-2024/regular_season_box_scores_2010_2024_part_3.csv")])

# view first 5 entries
# already in player numeric order

i = 5000

raw_reg_season_data.shape
raw_reg_season_data.iloc[i:i+5, 0:15]


# Most important stats to predict in a parlay:
# matchup, personId, minutes, fieldGoalsMade, fieldGoalsAttempted, threePointersMade, threePointersAttempted,
# freeThrowsMade, freeThrowsAttempted, reboundsOffensive, reboundsDefensive, assists, steals, blocks, turnovers

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,personName,position,comment,jerseyNum,minutes
5000,2015-16,2016-03-01,21500895,ATL @ GSW,1610612737,Atlanta,Hawks,ATL,hawks,200757,Thabo Sefolosha,NaN,NaN,NaN,19:24
5001,2014-15,2014-12-03,21400267,ATL @ MIA,1610612737,Atlanta,Hawks,ATL,hawks,200757,Thabo Sefolosha,NaN,NaN,NaN,17:29
5002,2016-17,2016-12-13,21600369,ATL vs. ORL,1610612737,Atlanta,Hawks,ATL,hawks,200757,Thabo Sefolosha,F,NaN,NaN,29:57
5003,2015-16,2015-12-02,21500272,ATL vs. TOR,1610612737,Atlanta,Hawks,ATL,hawks,200757,Thabo Sefolosha,F,NaN,NaN,33:19
5004,2014-15,2014-12-22,21400413,ATL @ DAL,1610612737,Atlanta,Hawks,ATL,hawks,200757,Thabo Sefolosha,NaN,NaN,NaN,16:41

In [3]:
# Get only the columns I want

reg_season_data = raw_reg_season_data[["personId", "matchup", "fieldGoalsMade", "fieldGoalsAttempted", "threePointersMade", "threePointersAttempted", "freeThrowsMade", "freeThrowsAttempted", "reboundsOffensive", "reboundsDefensive", "assists", "steals", "blocks", "turnovers"]]
reg_season_data.head(5)

,personId,matchup,fieldGoalsMade,fieldGoalsAttempted,threePointersMade,threePointersAttempted,freeThrowsMade,freeThrowsAttempted,reboundsOffensive,reboundsDefensive,assists,steals,blocks,turnovers
0,693,NJN @ CLE,0,0,0,0,0,0,0,0,0,0,0,0
1,693,NJN @ UTA,0,0,0,0,0,0,0,0,0,0,0,0
2,693,NJN @ PHI,0,0,0,0,0,0,0,0,0,0,0,0
3,693,NJN vs. LAL,0,0,0,0,0,0,0,0,0,0,0,0
4,693,NJN vs. SAC,1,1,0,0,0,0,0,1,1,0,0,1

In [30]:
# Get all numerical data
numerical_data = reg_season_data.iloc[:, 2:]

# Apply z score to numerical data
numerical_data = numerical_data.apply(zscore)

# join nonnumeric data back to numeric data
reg_season_data = reg_season_data.iloc[:, :2].join(numerical_data)

In [31]:
# Numeric values now with z-score applied
reg_season_data.head(5)

,personId,matchup,fieldGoalsMade,fieldGoalsAttempted,threePointersMade,threePointersAttempted,freeThrowsMade,freeThrowsAttempted,reboundsOffensive,reboundsDefensive,assists,steals,blocks,turnovers
0,693,NJN @ CLE,-0.984043,-1.112426,-0.61191,-0.79952,-0.629859,-0.671663,-0.628267,-0.944711,-0.748525,-0.649926,-0.485579,-0.784855
0,693,NJN @ CLE,0.927193,1.038877,-0.61191,-0.79952,0.289912,0.079857,3.943891,1.978609,-0.340683,0.436256,-0.485579,2.161251
0,693,NJN @ CLE,-0.984043,-1.112426,-0.61191,-0.79952,-0.629859,-0.671663,-0.628267,-0.944711,-0.340683,-0.649926,-0.485579,-0.784855
1,693,NJN @ UTA,-0.984043,-1.112426,-0.61191,-0.79952,-0.629859,-0.671663,-0.628267,-0.944711,-0.748525,-0.649926,-0.485579,-0.784855
1,693,NJN @ UTA,1.564272,2.031786,-0.61191,-0.79952,0.749797,0.831378,0.133759,0.516949,0.475002,0.436256,0.782447,0.688198